<nav class="navbar">
    <div class="container">
        <a href="index.html" class="logo">
            <img src="images/infotess.png" alt="INFOTESS Logo" height="40"> INFOTESS
        </a>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">About <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="about.html">About INFOTESS</a>
                    <a href="department.html">Department</a>
                    <a href="executives.html">Executives</a>
                    <a href="alumni.html">Alumni</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Activities <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="activities.html">Activities</a>
                    <a href="events.html">Events</a>
                    <a href="projects.html">Projects</a>
                    <a href="gallery.html">Gallery</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Resources <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="fees.html">Fees & Payments</a>
                    <a href="resources.html">Student Resources</a>
                    <a href="membership.html">Membership</a>
                </div>
            </li>
            <li><a href="news.html">News</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li id="auth-links-placeholder">
                <a href="login.html" class="btn-login">Login</a>
            </li>
        </ul>
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>
